<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ base_url }}">RDMO terms</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-5">
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}questions/">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}domain/">Domain</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}options/">Options</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}conditions/">Conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}tasks/">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url }}views/">Views</a>
                </li>
            </ul>
            <form class="filter-form" role="filter">
                <input class="form-control" type="filter" id="filter" placeholder="Filter" />
            </form>
            <div class="ms-3">
                <label class="text-white small mb-1" for="language-toggle">Language</label>
                <select class="form-select form-select-sm" id="language-toggle" aria-label="Language toggle">
                    <option value="all" selected>All</option>
                </select>
            </div>
        </div>
    </div>
</nav>
